<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sql Server Connection</h1>
    <table border="1">
        <tr>
            <th>PersonID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>City</th>
        </tr>
        {% for datadisplay in sqlserverconn %}
        <tr>
            <td>{{datadisplay.PersonID}}</td>
            <td>{{datadisplay.FirstName}}</td>
            <td>{{datadisplay.LastName}}</td>
            <td>{{datadisplay.City}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>